body
{
    background-color: rgb(6,33,63);
}
.page
{
width: 1340px;
height: auto;
}
.header
{
 height: 100px;
 width: 1340px;
}




.header .sublinks
{
    height: 90px;
    width: 400px;
    position: absolute;
    right: 40px;
    margin-top: 10px;
}
.header .sublinks a
{
    color: white;
    position: relative;
    top: 25px;
    text-decoration: none;
}




#Social
{
    float: left;
    position: relative;
    top: 15px;
    left: 129px;
}
.linkspart
{
    height: 40px;
    width: 1340px;
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
}
.linkspart a
{
color: rgb(6,33,63);
text-decoration: none;
position: relative;
top: 10px;
font-size: 120%; 
}
.linkspart a:hover
{
    color: white;
    background-color: rgb(6,33,63);
    border-radius: 10px;
}
.image 
{
    height: 50px;
    width: 1340px;
    margin-top: 10px;
    
}
.imagebox
{
    width: 1340px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}
.imagebox .image
{
 height: 380px;
 width: 1320px;
 background-image: url('/ui/biet-pic.jpg');
 border-style: double;
 border-width: 2px;
 position:  relative;
 top: 10px;
 border-radius: 10px;
}
.imagebox .image:hover
{
    height: 380px;
    width: 1320px;
    background-image: url('/ui/images.jpg');
}
.bodypart
{
    height: 610px;
    width: 1340px;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}
.bodypart .linkpart
{
height: 590px;
width: 390px;
background-color: rgb(6,33,63);
    border-radius: 10px;
    position: absolute;
    left: 10px;
    top: 10px;   
}




.bodypart .linkpart .link
{
   width: 380px;
    height: 510px;
   background-color: white;
   border-radius: 10px;
   position: absolute;
   left: 5px;
  bottom: 10px;
}
.bodypart .linkpart .link .linkbox
{
    height: 80px;
    width: 370px;
    border-bottom-style: dotted;
    border-bottom-color: aquamarine;
}
.bodypart .linkpart .link .linkbox img
{
    float: left;
    height: 75px;
    width: 120px;
    margin-top: 10px;
    position:  absolute;
    left: 10px;
}
 .bodypart .contentpart
 {
     height: 590px;
     width: 519px;
     background-color: rgb(6,33,63);
    border-radius: 10px;
    position: absolute;
    left: 410px;
    top: 10px;
 }
 .bodypart .contentpart .content
 {
     width: 509px;
     height: 580px;
     background-color: white;
     border-radius: 10px;
   margin-top: 5px;
 }




 .bodypart .contentpart .content cont
 {
  text-align: justify;
 }
 .bodypart .newspart
 {
   height: 590px;
width: 390px;
background-color: rgb(6,33,63);
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
 }





 .bodypart .newspart .news
 {
    width: 380px;
    height: 510px;
   background-color: white;
   border-radius: 10px;  
 }
 .bodypart .newspart .news new
 {
     text-align: justify;
     padding-left: 10px;
     padding-right: 10px;
 }

 .footer
 {
     
    margin-bottom: 30px;
     margin-top: 30px;
     color: white;
     font-size: 120%;
 }
